{% extends 'base.html.twig' %}

{% block body %}
    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('css/reservation.css') }}" rel="stylesheet"/>
    {% endblock %}

    <div class="container">
        <h2 id="reservationTitle">Find free apartments</h2>
        {% for apartment in apartments %}
            <div class="card">
                <h2>{{ apartment.name }}</h2>
                <h5>Slots: {{ apartment.slots }}</h5>
                <h2 id="newsTitle">Book this apartment</h2>
                <form method="post" action="{{ path('save_reservation') }}">
                    <div class="form-group">
                        <input type="hidden" name="id" value="{{ apartment.id }}">
                        <label for="title">Check in:</label>
                        <input type="date" id="bookingFrom" name="bookingFrom" value="{{ reservation.bookingFrom }}">
                        <label for="title">Check out:</label>
                        <input type="date" id="bookingTo" name="bookingTo" value="{{ reservation.bookingTo }}">
                        <label for="title">Number of people:</label>
                        <input type="number" id="takenSlots" name="takenSlots" value="{{ reservation.takenSlots }}">
                    </div>
                    <input type="submit" name="Save" value="Save">
                </form>
            </div>
        {% else %}
            <div>
                <h2>No apartments find</h2>
                <h5>If you want us new apartment click here <a href="{{ path('prepare_apartment', {'apartment': 0}) }}">Create
                        apartment</a>
                </h5>
            </div>
        {% endfor %}
    </div>

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/reservation.js') }}"></script>
    {% endblock %}

{% endblock %}