{% extends 'base.html.twig' %}

{% block body %}
    <h2 id="apartmentTitle">Apartments</h2>
    {% for apartment in apartments %}

        <div class="card">
            <a href="{{ path('prepare_apartment', {'apartment': apartment.id}) }}">
                <h2>{{ apartment.name }}</h2>
            </a>
            <h5>Slots: {{ apartment.slots }}</h5>

        </div>
    {% else %}
        <div class="card">
            <h2>No apartments find</h2>
            <h5>If you want create new apartments click <a href="{{ path('prepare_apartment', {'apartment': 0}) }}">here</a></h5>
        </div>
    {%  endfor %}

    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('css/apartment.css') }}" rel="stylesheet"/>
    {% endblock %}

{% endblock %}